<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="/javascripts/phaser.min.js"></script>
	<script type="text/javascript" src="/javascripts/boot.js"></script>
	<script type="text/javascript" src="/javascripts/load.js"></script>
	<!-- <script type="text/javascript" src="/javascripts/play.js"></script> -->
	<script type="text/javascript" src="/javascripts/menu.js"></script>
	<script type="text/javascript" src="/javascripts/app.js"></script>

	
</head>
<body>
	<div id="gameDiv"></div>
</body>
</html>