<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/javascripts/phaser.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
	<div id="main-menu">
		<h1>Welcome!</h1>
		<h3><a href="1">Play</a></h3>
		<h3><a href="instructions">Instructions</a></h3>
	</div>
</body>
</html>