<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="/javascripts/phaser.min.js"></script>
	<script type="text/javascript" src="/javascripts/app.js"></script>
	
</head>
<body>

</body>
</html>