<!DOCTYPE html>
<html>
<head>
	<title>Instructions</title>
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
	<h3><a href="/">Home</a></h3>
	<div id="inst">
		<h1>Instructions</h1>
		<div class="controls">
			<h3>Basics</h3>
			<h4 class="arrow">Right and Left</h4>
			<img class="arrow" src="/images/keyboard-arrows.png">
			<h4 class="jump">Jump</h4>
			<img class="jump" src="http://www.wpclipart.com/computer/keyboard_keys/large_keys/computer_key_Space_bar.png">
		</div>
		<div class="obstacles">
			<h4>Obstacles</h4>
			<h5>Basic Block</h5>
			<img src="/images/tileBrown_18.png">
			<h5>Unstable Block</h5>
			<img src="/images/blockGrey_broken.png">
			<h5>Jewels</h5>
			<img src="/images/yellowJewel.png">
			<h5>Finish Flag</h5>
			<img src="/images/flagGreen_up.png">
			<h5>Enemies</h5>
		</div>
	</div>
</body>
</html>