<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="/javascripts/phaser.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
	
	<%= yield %>
	
</body>
</html>