<!DOCTYPE html>
<html>
<head>
	<title>Level 1</title>
	<script type="text/javascript" src="/javascripts/phaser.min.js"></script>
	<script type="text/javascript" src="/javascripts/level1.js"></script>
</head>
<body>

</body>
</html>