<head>
	<title>Level 3</title>
	<script type="text/javascript" src="/javascripts/level4.js"></script>
</head>
<body>
	<div id="phaser">
	<a href="javascript:void(0)" id="menuButton" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block';">Menu</a>
	<div id="light" class="white_content">
		<br>
		<br>
		<a href="/">Home</a>
		<br>
		<br>
		<a href='javascript:void(0)' onclick="muteMusic()">Mute Music</a>
		<br>
		<br>
		<a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none';">Resume Game</a>
	</div>
	<div id="fade" class="black_overlay"></div>
		
	</div>
	<div id="gameOver" class="white_content">
		<div id="box">
			<h3>Game Over!</h3>
			<a href="4">Retry Level</a>
			<h3>Total Gems: <span id="gems"></span></h3>
			<a href="/">Home</a>
		</div>
		<div class="black_overlay"></div>
	</div>
	<div id="nextLevel" class="white_content">
		<div id="area">
			<h3>Congrats!</h3>
			<a href="/scoreboard">NEXT!</a>
			<h3>Total Gems: <span id="gems1"></span></h3>
			<a href="/">Home</a>
			<a href="4">Retry Level 4</a>
		</div>
	</div>
</body>