<!-- <script type="text/javascript" src="/javascripts/level1.js"></script>
<script type="text/javascript" src="/javascripts/level2.js"></script>
<script type="text/javascript" src="/javascripts/level3.js"></script>
<script type="text/javascript" src="/javascripts/level4.js"></script>

 -->
<title>Scores</title>
<a href="/">Home</a>
<a href="1">Replay!</a>
<div id="score">
	<h1>Your Final Score!</h1>
	
	<h3>Level 1:<span id="lvl1"></span></h3>
	<h3>Level 2:<span id="lvl2"></span></h3>
	<h3>Level 3:<span id="lvl3"></span></h3>
	<h3>Level 4:<span id="lvl4"></span></h3>
	<h3>Total:</h3>
</div>


